<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated vavemodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="vavemodel.presentation.VavemodelModelWizardID"
            name="%_UI_VavemodelModelWizard_label"
            class="vavemodel.presentation.VavemodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VavemodelModelFile.gif">
         <description>%_UI_VavemodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated vavemodel -->
      <editor
            id="vavemodel.presentation.VavemodelEditorID"
            name="%_UI_VavemodelEditor_label"
            icon="icons/full/obj16/VavemodelModelFile.gif"
            extensions="vavemodel"
            class="vavemodel.presentation.VavemodelEditor"
            contributorClass="vavemodel.presentation.VavemodelActionBarContributor">
      </editor>
   </extension>

</plugin>
