<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vavemodel -->
      <package
            uri="edu.kit.ipd.sdq.vavemodel"
            class="vavemodel.VavemodelPackage"
            genModel="model/vavemodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vavemodel -->
      <package
            uri="http://www.eclipse.org/emf/compare"
            class="compare.ComparePackage"
            genModel="model/vavemodel.genmodel"/>
   </extension>
   
</plugin>
